Notebook created: 2018-04-03 03:48:33  
Generated from: _build_py/py/oop_intro.rst

In [1]:
s = 'This is a string'
type(s)

```none
str
```

In [2]:
x = 42   # Now let's create an integer
type(x)

```none
int
```

In [3]:
'300' + 'cc'

'300cc'

```none
'300cc'
```

In [4]:
300 + 400

700

```none
700
```

```python
'300' + 400
```

```none
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-1-9b7dffd27f2d> in <module>()
----> 1 '300' + 400

TypeError: Can't convert 'int' object to str implicitly
```

In [5]:
int('300') + 400   # To add as numbers, change the string to an integer

700

```none
700
```

In [6]:
y = 2.5
z = 2.5
id(y)

2388894802568

```none
166719660
```

In [7]:
id(z)

2388894802400

```none
166719740
```

In [8]:
x = 42
x

42

```none
42
```

In [9]:
x.imag

0

```none
0
```

In [10]:
x.__class__

int

```none
int
```

In [11]:
x = ['foo', 'bar']
callable(x.append)

True

```none
True
```

In [12]:
callable(x.__doc__)

False

```none
False
```

In [13]:
x = ['a', 'b']
x.append('c')
s = 'This is a string'
s.upper()

'THIS IS A STRING'

```none
'THIS IS A STRING'
```

In [14]:
s.lower()

'this is a string'

```none
'this is a string'
```

In [15]:
s.replace('This', 'That')

'That is a string'

```none
'That is a string'
```

In [16]:
x = ['a', 'b']
x[0] = 'aa'  # Item assignment using square bracket notation
x

['aa', 'b']

```none
['aa', 'b']
```

In [17]:
x = ['a', 'b']
x.__setitem__(0, 'aa')  # Equivalent to x[0] = 'aa'
x

['aa', 'b']

```none
['aa', 'b']
```

In [18]:
def f(x): return x**2
f

```none
<function __main__.f>
```

In [19]:
type(f)

function

```none
function
```

In [20]:
id(f)

2388851742240

```none
3074342220L
```

In [21]:
f.__name__

'f'

```none
'f'
```

In [22]:
f.__call__(3)

9

```none
9
```

In [23]:
import math

id(math)

2388837350520

```none
3074329380L
```