Notebook created: 2018-04-03 03:48:33  
Generated from: _build_py/py/oop_intro.rst

# Type

In [1]:
s = 'This is a string'
type(s)

str

In [2]:
x = 42   # Now let's create an integer
type(x)

int

In [3]:
'300' + 'cc' # String Concatenation

'300cc'

In [4]:
300 + 400

700

```python
'300' + 400
```

```none
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-1-9b7dffd27f2d> in <module>()
----> 1 '300' + 400

TypeError: Can't convert 'int' object to str implicitly
```

In [5]:
int('300') + 400   # To add as numbers, change the string to an integer

700

In [6]:
a = '300'

In [7]:
a[1] ='a'

TypeError: 'str' object does not support item assignment

In [8]:
a = [1,2,3]
a[1] = 'a'

In [9]:
a

[1, 'a', 3]

In [10]:
y = 2.5
z = 2.5
id(y)

1457166803736

In [11]:
id(z)

1457166803448

In [12]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a
print(a == b, a is b, a == c, a is c)

True False True True

In [13]:
c[1] = 'cat'
print(a)

[1, 'cat', 3]

# Immutable and Mutable Type

In [14]:
a = [1,2,3,4]
b = a
a[1] = 'cat'
print(b)

[1, 'cat', 3, 4]

# Attribute

In [15]:
x = 42
x

42

In [16]:
x.imag

0

In [17]:
x.__class__

int

# Function and Callable

In [18]:
x = ['foo', 'bar']
callable(x.append)

True

In [19]:
callable(x.__doc__)

False

In [20]:
x = ['a', 'b']
x.append('c')
s = 'This is a string'
s.upper()

'THIS IS A STRING'

In [21]:
s.lower()

'this is a string'

In [22]:
s.replace('This', 'That')

'That is a string'

In [23]:
x = ['a', 'b']
x[0] = 'aa'  # Item assignment using square bracket notation
x

['aa', 'b']

In [24]:
x = ['a', 'b']
x.__setitem__(0, 'aa')  # Equivalent to x[0] = 'aa'
x

['aa', 'b']

In [25]:
def f(x): return x**2
f

In [26]:
type(f)

function

In [27]:
id(f)

1457167781960

In [28]:
f.__name__

'f'

In [29]:
f.__call__(3)

9

In [30]:
import math

id(math)

1457109347608